*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Barlow', sans-serif;
}
a{
    text-decoration: none;
}
/* Hearder */
header {
  z-index: 30;
  position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 24px;
    align-items: center;
    font-weight: 700;
    color: white;
}
header .logo{
  flex-grow: 1;
}
header .logo img {
  max-width: 100%;
  height: 3rem;
}
  
  header .ngonNgu img {
    height: 2.5rem;
  }
  
  nav > .header-nav{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  
  header a {
    font-weight: 700;
    color: white;
    font-size: 13px;
    letter-spacing: 2.3px;

  }
  
  nav li {
    /* position: relative; */
  }
  
   .sub-span {
    padding: 16px ;
    font-size: 13px;
    letter-spacing: 2.3px;
    position: relative;
    display: inline-block;
  }
  .sub-span::after {
    content: "";
    position: absolute;
    height: 2px;
    top:75%;
    inset-inline-start: 16px;
    /* inset-inline-end: 100%; */
    background-color: white;
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(0);
  }
  .sub-span:hover::after,  .sub-span:focus::after, .sub-nav>li:hover .sub-span::after{
    inset-inline-end: 16px;
    transform: scaleX(1);
  }

  nav .menu {
    /* padding: 16px; */
    font-weight: 700;
    color: white;
    /* display: inline-block; */
  }
  
 .sub-nav {
    display: none;
    position: absolute;
    background-color: rgb(0, 51, 221);
    /* top: 80%; */
    white-space: nowrap;
    list-style: none;
  }
  
  .sub-nav > li >a{
    display: inline-block;
   
    position: relative;
    padding: 16px;
  }
  
  .header-nav>li:hover .sub-nav {
    display: block;
  }
  header nav a{
    position: relative;
    padding: 16px;
  }
header a::after {
    content: "";
    position: absolute;
    height: 2px;
    top:80%;
    inset-inline-start: 16px;
    /* inset-inline-end: 100%; */
    background-color: white;
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(0);
  }
header .sub-nav>li:hover a::after, .fly:hover a::after, .menu:hover a::after{
  inset-inline-end: 16px;
  transform: scaleX(1);
}
.sub-span:hover + .sub-nav,
.sub-nav:hover {
    display: block;
}
.sub-span{
  position: relative;
  /* width: 100%; */
}
.sub-span:hover::after{
  transform: scaleX(1);
} 
.Eng::after{
  content: "";
    position: absolute;
    height: 2px;
    top:80%;
    inset-inline-start: 16px;
    /* inset-inline-end: 100%; */
    background-color: white;
    inset-inline-end: 16px;
     transform: scaleX(1);
}
.fly>a{
    background-color: rgb(0, 51, 221);
    padding: 16px;
    letter-spacing: 2.3px;
    font-size: 13px;
    position: relative;
}  

.icon-menu{
  /*  */
    &::before, &::after{
      content: "";
      display: block;
      width: 35px;
      height: 5px;
      background-color: white;
      margin-bottom: 7px;
      transform: translateY(0) rotate(0);
      transform-origin: center;
      transition: transform 0.2s ease;
      
    }
}
.icon-menu.open{
    z-index: 80;
    &::before{
      transform: translateY(125%) rotate(45deg);
      
    }
    &::after{
      transform: translateY(-125%) rotate(-45deg);
    }
}

/* nav-grey */
.nav-grey{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  overflow: auto;
  z-index: 50;
  display: none;
}
.nav-grey a{
  font-family: 'Exo 2', sans-serif;
}
.nav-black{
  min-height: 100%;
  height: auto;
  width: 100%;
  position: absolute;
  right: 0;
  background-color: rgb(42, 42, 42);
  width: auto;
}
.black-menu{
  display: flex;
  flex-direction: column;
  min-width: 350px;
  align-items: flex-start;
  padding: 20px 24px;
  gap: 2rem;
}
.black-menu>a{
  display: flex;
  flex-grow: 1;
    height: 64px;
    margin-bottom: 0;
    width: 100%
}
.black-menu>a>img{
  display: block;
    max-height: 100%;
    max-width: 100%
}
.thanh{
  list-style: none;
}
.thanh>li>a{
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2.3px;
  padding: 16px;
  display: inline-block;
  position: relative;
}
.thanh>li:hover a::after{
  inset-inline-end: 16px;
    transform: scaleX(1);
}
.keNgang{
    align-self: stretch;
    background-color: #d8d8d8;
    border: 0;
    height: 2px;
    margin-left: 1rem;
    opacity: .25
}
.black-menu>.fly{
  padding: 30px 16px;
}
/* TOP */
.top{
    width: 100%;
}
.top>img{
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: relative;
}
.top .top-title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 120px;
    font-weight: 100;
    position: absolute;
    top: 300px;
    left: 250px;
    color:white;
    text-transform: uppercase;
    animation-name: hienChu;
    animation-duration: 2s;
}
@keyframes hienChu{
  0%{
    opacity: 0;
    transform: translateY(25px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
/* between */
.between{
    width: 100%;
    padding: 90px 0;
    
}
.between .between-title{
    color:rgb(0, 51, 221);
    font-size: 50px;
    letter-spacing:0.4px;
    font-weight: 100;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}
.between>ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.between ul>li{
    display: flex;
    flex-direction:column;
    height: 738px;
    width: 354px;
    border: 1px solid rgb(216, 216, 216);
    margin: 50px 12px 0 12px;
    position: relative;
    overflow: hidden;
}
.between ul>li::after{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
 
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background-color: #03d;
  /* display: none; */
}
.between li:hover::after{
  transform: translateY(0);
  
}
.between .between-img{
    position: relative;
}
.between .between-img>img{
    width: 100%;
    height: 235px;
}
.between .date{
    background-color: white;
    color:rgb(42, 42, 42);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 10px 15px;
    position: absolute;
    top:20px;
    left:20px;
}
.between .between-content{
    padding: 40px 40px 60px 40px;
}
.between .between-content-logo{
    font-size: 14px;
    font-weight: 700;
    padding-left: 40px;
    position: relative;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
    letter-spacing: 1.75px;
    margin-bottom: 25px;
}
.between .between-content-logo:before{
    content: " ";
    position: absolute;
    top:5px;
    left: 0;
    width: 25px;
    height: 5px;
    background-color: rgb(0, 51, 221);
}
.between .between-content>h3{
    color: rgb(0, 51, 221);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 25px;
    margin-bottom: 25px;
    font-family: 'Exo 2', sans-serif;
}
.between .between-content-para{
    color: rgb(42, 42, 42);
    font-size: 18px;
    /* font-weight: 400; */
    letter-spacing: 0.7px;
    line-height: 30px;
}
.between .between-btn{
    text-align: center;
    margin: 70px 0 60px 0;
}
.between .between-btn>a{
    border: 1px solid gray;
    letter-spacing: 2px;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 700;
    color:rgb(0, 51, 221);
    text-transform: uppercase;
}
.between .btn-see, .bottom .btn-submit{
    position: relative;
}
.between .btn-see::before, .btn-see::after{
    content: "";
        width: 0;
        height: 1px;
        position: absolute;
        background: white;
}
.between .btn-see::before{
    right: 0;
        bottom: 0;
        transition: all 0.1s linear;
        transition-delay: 0.2s;
}
.between .btn-see::after{
    left: 0;
        top: 0;
        transition: all 0.1s linear;
        transition-delay: 0s;
}

/* .between-btn  */
.between span::before,
  .between span::after ,
  footer span::before,
  footer span::after,
  .bottom span::before,
    .bottom span::after  {
      content: "";
      width: 1px;
      height: 0;
      position: absolute;
      background: white;
      transition: all 0.2s linear;
    }

    span::before {
      left: 0;
      bottom: 0;
      transition-delay: 0.3s; 
    }

    span::after {
      right: 0;
      top: 0;
      transition-delay: 0.1s;
    }

    
  .between .between-btn:hover .btn-see{
      &::before,
      &::after {
        width: 100%;
        background-color: rgb(0, 51, 221);
      }
  }
    .between .between-btn:hover span{
            &::before,
            &::after {
              height: 100%;
              background-color: rgb(0, 51, 221);
            }
          }
/* BOTTOM */
.bottom{
    padding: 120px 0;
    background-color: rgb(245, 245, 245);
    text-align: center;
}
.bottom .bottom-logo{
    font-size: 14px;
    color: rgb(42, 42, 42);
    font-weight: 700;
    letter-spacing: 1.75px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.bottom>h2{
    font-size: 50px;
    color: rgb(0, 51, 221);
    font-weight: 100;
    letter-spacing: 0.4px;
    margin-bottom: 40px;
    font-family: 'Exo 2', sans-serif;
}

.bottom .bottom-btn>a{
    border: 1px solid rgb(130, 130, 130);
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(0, 51, 221);
    font-weight: 700;
    letter-spacing: 2px;
    padding: 15px 25px;
}
.bottom .btn-submit::before, .btn-submit::after{
  content: "";
      width: 0;
      height: 1px;
      position: absolute;

}
.bottom .btn-submit::before{
  right: 0;
      bottom: 0;
      transition: all 0.1s linear;
      transition-delay: 0.2s;
}
.bottom .btn-submit::after{
  left: 0;
      top: 0;
      transition: all 0.1s linear;
      transition-delay: 0s;
}
.bottom .bottom-btn:hover .btn-submit{
  &::before,
  &::after {
    width: 100%;
    background-color: rgb(0, 51, 221);
  }
}
.bottom .bottom-btn:hover span{
        &::before,
        &::after {
          height: 100%;
          background-color: rgb(0, 51, 221);
        }
      }
/* FOOTER */
.bottom-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 51, 221);
    padding: 20px 12px;
    width: 100%;
}
.bottom-contact>h2{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    padding-right: 50px;
    text-transform: uppercase;
}
.bottom-contact>ul{
    display: flex;
    list-style: none;
    color: white;
}
.bottom-contact li{
    margin-right: 10px;
}
.bottom-contact a>img{
    width: 20px;
    height: 20px;
}
.bottom-contact a{ 
    width: 52px;
    height: 52px;
    padding: 15px;
    display: inline-block;
    transition: border 0.3s ease-in-out;
    transform: translateZ(0);
    
}
.bottom-contact a:hover{
    border: 1px solid white;
    border-radius:50% ;
}

/* fOOTER2 */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    width: 100%;
    position: relative;
}

footer .footer-left{
    width: 35%;
    padding: 150px 30px 90px 120px;
    position: relative;
    border-right:1px solid rgb(216, 216, 216);
}
footer .footer-left img{
    max-width: 220px;
    margin-bottom: 60px;
}
footer .footer-left .footer-left-title{
    display: flex;
    flex-direction: column;
}
footer .footer-left .footer-left-title>p{
    font-size: 12px;
    font-weight: 500;
    color: rgb(216, 216, 216);
    text-transform: uppercase;
    margin-bottom: 16px;
    letter-spacing: 1.75px;
}
footer .footer-left .footer-left-title>ul{
    display: flex;
    
}
footer .footer-left-title li{
    margin-right:20px ;
    list-style: none;
}
footer .footer-left-title li>a{
    color:rgb(216, 216, 216);
    font-size: 12px;
    letter-spacing: 1.75px;
    font-weight: 500;
}

/* footer footer-between */
.footer-between{
    width: 30%;
    padding: 90px 50px;
    display: flex;
    justify-content: center;
    
  }
  .footer-between>ul{
    list-style: none;
  
  }
   .footer-between li{
    margin-bottom: 30px;
    /* position: relative; */
  }
   .footer-between a, .Accessible{
    color: white;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.75px;
    text-decoration: none;
    position: relative;
  }
  .select-f{
    margin-top: 8px;
    position: relative;
    line-height: 24px;
  }
  .select-f{
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 5px;
      left:180px;
      inset-inline-end: 10px;
      display: block;
      background-image: none;
      transform: none;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7.5px 13px 7.5px;
      border-color: transparent transparent #a8a8a8 transparent;
    }
    &:after {
      top: 21px;
      transform: rotate(180deg);
    }
    
  }
  .select-form{
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 36px 10px 12px;
    color: white;
    border-radius:5px ;
    border: 1px solid rgb(206, 212, 218);
    
    font-size: 16px;
    -webkit-appearance: none;
  }
  .select-form:focus{
    outline: 4px solid rgba(13, 110, 253, 0.4);
  }
   .option{
    background-color: rgb(42, 42, 42);
    color: white;
  }
  /* Gạch chân */
  .footer-between a::after{
    content: "";
    position: absolute;
    bottom: 0;
			left: 0;
			top: 31px;
			width: 100%;
			height: 2px;
			transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
			transform: scaleX(0);
			transform-origin: left;
      background-color: rgb(51, 136, 255);
  }
  .footer-between a:hover {
    &::after{
    transform: scaleX(1);
    /* position: relative; */
    } 
  }
/* footer footer-right */
footer .footer-right{
    width: 35%;
    padding: 90px 108px 90px 50px;
    background-color: rgb(42, 42, 42);
    color: rgb(216, 216, 216);
    letter-spacing: 0.4px;
  }
footer .footer-right .bottom-title{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.7px;
    line-height: 20px;
    
    padding-right: 20px;
  }
footer .footer-right>h2{
    font-size: 20px;
    margin-bottom: 20px;
  }
footer .bottom-intro{
    
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.7;
    text-align: center;
    line-height: 30px;
    margin-bottom: 16px;
  }
.footer-right .bottom-intro:last-of-type{
    text-align: start;
  }
footer .e-m{
    
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
footer .email-form{
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid white;
    font-size: 18px;
    padding: 2px 0 8px 0;
    color: white;
    margin-bottom: 16px;
  }
footer .email-form:focus{
    outline: 4px solid rgb(216, 216, 216,0.25);
    color: white;
    background-color: rgba(0, 0, 0, 0);
  }
  /* CHECK BOX */
footer .check{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size:16px;
  }
footer .check input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    
  }
  
  
footer .checkmark {
    position: absolute;
    top: 5%;
    left: 0;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    
    border: 2px solid rgb(216, 216, 216);
   background-color: rgba(0, 0, 0, 0);
  }
  
  
  /* When the radio button is checked, add a blue background */
footer .check input:checked ~ .checkmark {
    background-color: rgba(0, 0, 0, 0);
    transition: transform 0.1s cubic-bezier(.4,0,.2,1);
  }

footer .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    
  }
  
footer .check input:checked ~ .checkmark:after {
    display: block;
  }
  
 
footer .check .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height:12px;
    
    background-color: rgb(216, 216, 216);
  }
footer .check>input{
    margin-right:10px ;
  }
footer .check> .text{
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
  }
footer .check>div>a{
    color: rgb(13, 110, 253);
    text-decoration: underline rgb(13, 110, 253);
  }
footer .bottom-text-button{
    margin-top: 16px;
  }
footer .bottom-button{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(130, 130, 130);
    border-radius:2px ;
    letter-spacing: 2px;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 14px;
    color: white;
    position: relative;
  }
footer .bottom-button::before, .bottom-button::after{
    content: "";
        width: 0;
        height: 1px;
        position: absolute;
        background: white;
}
footer .bottom-button::before{
    right: 0;
        bottom: 0;
        transition: all 0.1s linear;
        transition-delay: 0.2s;
}
footer .bottom-button::after{
    left: 0;
        top: 0;
        transition: all 0.1s linear;
        transition-delay: 0s;
}
footer .bottom-text-button:hover .bottom-button{
  &::before,
  &::after {
    width: 100%;
    background-color: white;
  }
}
footer .bottom-text-button:hover span{
  &::before,
  &::after {
    height: 100%;
    background-color: white;
  }
}
