*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    font-family: 'Barlow', sans-serif;
}
/* HEADER */
header {
    z-index: 30;
    position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 20px 24px;
      align-items: center;
      font-weight: 700;
      color: white;
  }
  header .logo{
    flex-grow: 1;
  }
  header .logo img {
    max-width: 100%;
    height: 3rem;
  }
  header .header-nav{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  
  header .header-nav a, .thanh a {
    font-weight: 700;
    color: white;
    font-size: 13px;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    padding: 16px;
    position: relative;
  }
 .menu {
    font-weight: 700;
    color: white;
    display: inline-block;
  }   
  header a::after {
    content: "";
    position: absolute;
    height: 2px;
    top:80%;
    inset-inline-start: 16px;
    /* inset-inline-end: 100%; */
    background-color: white;
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(0);
  }
header .menu:hover a::after,
 .menu-home>li:hover a::after{
  inset-inline-end: 16px;
  transform: scaleX(1);
}
  .icon-menu{
    &::before, &::after{
      content: "";
      display: block;
      width: 35px;
      height: 5px;
      background-color: white;
      margin-bottom: 7px;
      transform: translateY(0) rotate(0);
      transform-origin: center;
      transition: transform 0.2s ease;
      
    }
}
.icon-menu.open{
    z-index: 80;
    &::before{
      transform: translateY(125%) rotate(45deg);
      
    }
    &::after{
      transform: translateY(-125%) rotate(-45deg);
    }
}
/* grey-box */
.nav-grey{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    overflow: auto;
    z-index: 50;
    display: none;
  }
  .nav-black{
    min-height: 100%;
    height: auto;
    width: 100%;
    position: absolute;
    right: 0;
    background-color: rgb(42, 42, 42);
    width: auto;
  }
.black-menu{
    display: flex;
    flex-direction: column;
    min-width: 350px;
    align-items: flex-start;
    padding: 20px 24px;
    gap: 2rem;
}
.black-menu>a{
    display: flex;
    flex-grow: 1;
    height: 64px;
    margin-bottom: 0;
    width: 100%
}
.black-menu>a>img{
    display: block;
    max-height: 100%;
    max-width: 100%
}
  .thanh{
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .thanh>li>a{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2.3px;
    padding: 16px;
    display: inline-block;
    position: relative;
    font-family: 'Exo 2',sans-serif ;
  }
  .thanh>li:hover a::after{
    inset-inline-end: 16px;
      transform: scaleX(1);
  }
.keNgang{
      align-self: stretch;
      background-color: #d8d8d8;
      border: 0;
      height: 2px;
      margin-left: 1rem;
      opacity: .25
}
.menu-home{
    list-style: none;
    column-count: 2;
}

.menu-home>li>a{
    font-weight: 700;
    color: white;
    font-size: 13px;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    padding: 16px;
    position: relative;
    display: inline-block;
}
/* TOP */
.top{
    position: relative;
    width: 100%;
    min-height: 120svh;;
    height: auto;
}
.top .img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    transition: opacity 0.75s ease-in-out;
    animation-duration: 1s;
    animation-name: hienAnh;
}
@keyframes hienAnh{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.top .img.opacity{
    opacity: 1;
}
.top .top-text{
    position: absolute;
    color: white;
    left: 120px;
    bottom: 100px;
}
.top .text-rotate{
    transform: rotate(270deg);
    /* left: 5px; */
    position: absolute;
    color: white;
    bottom: 410px;
    font-size: 27px;
    display: inline-block;
    font-family: 'Exo 2', sans-serif;
    animation-duration: 2s;
    animation-name: hienChu2;
    animation-delay: 0.25s;
    animation-fill-mode:forwards;
    
    opacity: 0;
}
@keyframes hienChu2{
    0%{
      opacity: 0;
      transform: rotate(270deg);
    }
    100%{
      opacity: 1;
      transform: rotate(270deg);
    }
  }
.top .top-text>h1{
    font-size:130px;
    font-weight: 500;
    line-height: 133px;
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 20px;
    animation-duration: 2s;
    animation-name: hienChu;
    animation-delay: 0.4s;
    animation-fill-mode:forwards;
    opacity: 0;
}
.timKiem{
    margin: 40px 20px;
    animation-duration: 2s;
    animation-name: hienChu;
    animation-delay: 0.75s;
    animation-fill-mode:forwards;
    opacity: 0;
}
.sear{
    margin-bottom: 8px;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 14px;
}
.form-search{
    display: flex;
    margin-top: 10px;
}
.form-search .tK{
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 6px 12px;
    width: 540px;
    height: 60px;
    color: white;
}
.top .tK:focus{
    outline: 4px solid white;
}
.btn-search{
    background-color: rgb(0, 51, 221);
    border: none;
    height: 60px;
    width: 60px;
}
.top .top-border{
    margin: 0 20px;
    animation-duration: 2s;
    animation-name: hienChu;
    animation-delay: 1.5s;
    animation-fill-mode:forwards;
    opacity: 0;
}
.boder-p{
    color: white;
    background-color: rgb(0, 51, 221);
    padding: 15px 25px;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 14px;
    border-radius:2px;
    position: relative;
    text-transform: uppercase;
}
.boder-p::before, .boder-p::after{
    content: "";
        width: 0;
        height: 1px;
        position: absolute;
}
.boder-p::before{
    right: 0;
        bottom: 0;
        transition: all 0.1s linear;
        transition-delay: 0.2s;
}
.boder-p::after{
    left: 0;
        top: 0;
        transition: all 0.1s linear;
        transition-delay: 0s;
}
.top .top-border:hover .boder-p{
    &::before,
    &::after {
      width: 100%;
      background-color: white;
    }
  }
.top .top-border:hover span{
    &::before,
    &::after {
      height: 100%;
      background-color: white;
    }
  }
.top .control{
    position: absolute;
    bottom: 150px;
    right: 50px;
   
}
.btn-play{
    border:none;
    position: relative;
    background-color: rgba(0,0,0,0);
}
.top .btn-play span{
    position: absolute;
    width:6px;
    height:20px;
    background:white;
    opacity: 0.75;
}
.btn-play span:nth-child(2){
    margin-left: 10px;
}
.btn-play.pause span:nth-child(2){
    display: none;
}
.btn-play.pause span:nth-child(1){
    width: 15px;
    height:20px;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.top::after {
    position: absolute;
    background-color: #03d;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    content: "";
    height: 12vh;
    bottom: 0;
    margin-bottom: -1px;
    width: 100%;
}
@keyframes hienChu{
    0%{
      opacity: 0;
      transform: translateY(25px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
/* TOP -YTB */
.top-ytb{
    background-color: rgb(0, 51, 221);
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-ytb-text{
    font-size: 50px;
    color: white;
    text-align: center;
    letter-spacing:0.4px;
    line-height: 55px;
    margin: 0 250px 20px 250px;
    font-weight: 100;
    font-family: 'Exo 2', sans-serif;
}
/* BETWEEN 1 */
.between{
    width: 100%;
    padding: 90px 0;
    /* margin-left: 100px; */
   
}
.between .between-title{
    color:rgb(0, 51, 221);
    font-size: 75px;
    letter-spacing:0.4px;
    font-weight: 100;
    margin-bottom: 48px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}
.between>ul{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 0;
    margin: 0 115px;     
}
.between ul>li{
    display: flex;
    flex-direction:column;
    height: auto;
    width: auto;
    border: 1px solid rgb(216, 216, 216);
    background-color: rgb(0, 51, 221);
    
}
.between img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.between .between-content{
    height: 312px;
    padding: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.between .between-content>div>h3{
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 0.6px;
    font-size: 25px;
    font-weight:900;
    margin-bottom: 8px;
    line-height: 25px;
    text-transform: uppercase;
}
.between .between-content>div>p{
    letter-spacing: 0.7px;
    font-size: 18px;
    font-weight:400;
    margin-bottom: 16px;
    line-height: 30px;
}

.between .bw-btn>a{
    color: rgb(0, 51, 221);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    border: 1px solid white;
    background-color: white;
    display: inline-block;
    padding: 15px 20px;
    border-radius:2px ;
}
.between a:active{
    background-color: rgb(0, 51, 221);
    color: white;
    border-color:white ;
}
/* BETWEEN 1 */
.between1{
    position: relative;
    width: 100%;
}
.between1>img{
    width: 100%;
    transition: opacity 0.75s ease-in-out;
    animation-duration: 1s;
    animation-name: hienAnh;
    
}
.between1 .bw1-rotate{
    transform: rotate(270deg);
    /* left: 5px;  */
    position: absolute;
    color: white;
    top: 290px;
    font-size: 27px;
    font-family: 'Exo 2', sans-serif;
    animation-duration: 2s;
    animation-name: hienChu2;
    animation-delay: 0.25s;
    animation-fill-mode:forwards;
    opacity: 0;
}
.between1 .bw1-text{
    position: absolute;
    top: 150px;
    left: 150px;
    color: white;
    width: 41%;
}
.between1 .bw1-text>h2{
    font-size: 120px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.4px;
    animation-duration: 2s;
    animation-name: hienChu;
    animation-delay: 0.4s;
    animation-fill-mode:forwards;
    opacity: 0;
}
.between1 .bw1-para{
    font-size: 20px;
    letter-spacing: 0.7px;
    line-height: 30px;
    animation-name: hienChu;
    animation-delay: 0.75s;
    animation-fill-mode:forwards;
    opacity: 0;
}
.between1 .bw1-border{
    margin-top: 50px;
    animation-duration: 2s;
    animation-name: hienChu;
    animation-delay: 1.5s;
    animation-fill-mode:forwards;
    opacity: 0;
}
.between1 .bw1-border:hover .boder-p{
    &::before,
    &::after {
      width: 100%;
      background-color: white;
    }
  }
.between1 .bw1-border:hover span{
    &::before,
    &::after {
      height: 100%;
      background-color: white;
    }
  }
/* BETWEEN 2 */
.between2{
    width: 100%;
    padding: 120px 0 120px 0;
}
.between2 .bw2-banner{
    color:rgb(0, 51, 221);
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
    position: relative;
    margin:  70px 0;
}
.Banner{
    z-index: -1;
    color: rgb(232, 237, 252);
    font-size: 350px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .15ch;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.between2>ul{
    grid-gap: 1.5rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    padding: 0;
    margin: 0 115px;
}
.between2 ul>li{
    display: flex;
    justify-content: center;
    flex-direction:column;
    height: auto;
    width: 356px;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.between2 img{
    width: 100px;
    height: 100px;
}
.between2 .bw2-text>h2{
    color: rgb(0, 51, 221);
    font-size: 25px;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 0.6px;
    margin-bottom: 8px;
}
.between2 .bw2-text>p{
    color: rgb(42, 42, 42);
    font-size: 18px;
    letter-spacing: 0.7px;
    margin-bottom: 16px;
    line-height: 30px;
}
/* BETWEEN 3 */
.between3{
    position: relative;
    width: 100%;
    height: 770px;
}
.between3>img{
    width: 100%;
    object-fit: cover;
    transition: opacity 0.75s ease-in-out;
    
    animation-duration: 1s;
    animation-name: hienAnh;
}
.between3 .bw3-rotate{
    transform: rotate(270deg);
    position: absolute;
    color: white;
    top: 360px;
    font-size: 27px;
    font-family: 'Exo 2', sans-serif;
    animation-duration: 2s;
    animation-name: hienChu2;
    animation-delay: 0.25s;
    animation-fill-mode:forwards;
    opacity: 0;
}
.between3 .bw3-text{
    position: absolute;
    top: 250px;
    left: 150px;
    color: white;
    width: 41%;
}
.between3 .bw3-text>h2{
    font-size: 120px;
    font-weight: 400;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.4px;
    line-height: 133px;
    margin-bottom: 32px;
    animation-duration: 2s;
    animation-name: hienChu;
    animation-delay: 0.4s;
    animation-fill-mode:forwards;
    opacity: 0;
}
.between3 .bw3-border{
    animation-duration: 2s;
    animation-name: hienChu;
    animation-delay: 0.75s;
    animation-fill-mode:forwards;
    opacity: 0;
}
.between3 .bw3-border:hover .boder-p{
    &::before,
    &::after {
      width: 100%;
      background-color: white;
    }
  }
.between3 .bw3-border:hover span{
    &::before,
    &::after {
      height: 100%;
      background-color: white;
    }
}
.between3::after {
    position: absolute;
    background-color: #03d;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    content: "";
    height: 12vh;
    margin-bottom: -1px;
    width: 100%;
    bottom: 0;
    left: 0;
  }

/* BETWEEN 4 */
.between4{
    display: flex;
    width: 100%;
    background-color: rgb(0, 51, 221);
    align-items: center;
    justify-content: center;
    position: relative;
}
.between4 .bw4-img{
    /* align-self: flex-end; */
    flex-basis: 50%;
}
.between4 .bw4-img>img{
    width: 100%;
}
.between4 .bw4-text{
    flex-basis: 50%;
    margin: 2rem 1rem;
    max-width: 60ch;
}
.between4 .bw4-text>img{
    width: 100px;
}
.between4 .bw4-text>h2{
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 44px;
    font-weight: normal;
    letter-spacing: 0.4px;
    line-height: 55px;
    margin: 32px 20px 32px 0;
}
.between4 .bw4-text>p{
    color: white;
    letter-spacing: .10938rem;
    line-height: 1;
    margin-bottom: 25px;
    padding-left: 40px;
    position: relative;
    font-size: 14px;
    display: inline-block;
}
.between4 .bw4-text p::before{
    content: "";
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 25px;
    background-color: white;
}
/* BETWEEN 5 */
.between5{
    padding: 120px 0;
}
.between5 .bw5-title{
    margin: 0 115px;
    color:rgb(0, 51, 221);
    text-align: center;
}
.between5 .bw5-title>p{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing:1.75008px;
    margin-bottom: 32px;
}
.between5 .bw5-title>h2{
    font-size: 75px;
    font-weight: 100;
    letter-spacing:0.4px;
    margin-bottom: 32px;
    line-height:97.5px;
    font-family: 'Exo 2', sans-serif;
}
.between5>ul{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 0;
    margin: 0 115px;     
}
.between5 ul>li{
    display: flex;
    flex-direction:column;
    height: auto;
    width: 356px;
    border: 1px solid rgb(216, 216, 216);
    background-color: rgb(0, 51, 221);
    
}
.between5 img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.between5 .between5-content{
    height: 312px;
    padding: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.between5 .bw5-text>.bw5-text-title{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.7px;
    margin-bottom: 5px;
}
.between5 .bw5-text>h3{
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 0.6px;
    font-size: 25px;
    font-weight:900;
    margin-bottom: 8px;
    line-height: 25px;
    text-transform: uppercase;
}
.between5 .bw5-text-para{
    letter-spacing: 0.7px;
    font-size: 18px;
    font-weight:400;
    margin-bottom: 16px;
    line-height: 30px;
}
.between5 .bw5-btn>a{
    color: rgb(0, 51, 221);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    border: 1px solid white;
    background-color: white;
    display: inline-block;
    padding: 15px 20px;
    border-radius:2px ;
    text-transform: uppercase;
}
.between5 a:active{
    background-color: rgb(0, 51, 221);
    color: white;
    border-color:white ;
}
/* BETWEEN 6 */
.between6{
    position: relative;
    width: 100%;
    height: 700px;
}
.between6>img{
    width: 100%;
    width: 100%;
    transition: opacity 0.75s ease-in-out;
    animation-duration: 1s;
    animation-name: hienAnh;
}
.between6 .bw6-rotate{
    transform: rotate(270deg);
    position: absolute;
    color: white;
    top: 250px;
    font-size: 27px;
    font-family: 'Exo 2', sans-serif;
    animation-duration: 2s;
    animation-name: hienChu2;
    animation-delay: 0.25s;
    animation-fill-mode:forwards;
    opacity: 0;
}
.between6 .bw6-text{
    position: absolute;
    top: 150px;
    left: 150px;
    color: white;
}
.between6 .bw6-text>h2{
    font-size: 120px;
    font-weight: 400;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.4px;
    line-height: 133px;
    margin-bottom: 32px;
    animation-duration: 2s;
    animation-name: hienChu;
    animation-delay: 0.4s;
    animation-fill-mode:forwards;
    opacity: 0;
}
.between6 .bw6-border{
    animation-duration: 2s;
    animation-name: hienChu;
    animation-delay: 0.75s;
    animation-fill-mode:forwards;
    opacity: 0;
}
.between6 .bw6-border:hover .boder-p{
    &::before,
    &::after {
      width: 100%;
      background-color: white;
    }
  }
.between6 .bw6-border:hover span{
    &::before,
    &::after {
      height: 100%;
      background-color: white;
    }
  }
/* BETWEEN 7 */
.between7{
    background-color: rgb(0, 51, 221);
    text-align: center;
    padding: 120px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.between7>h2{
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    line-height: 55px;
    font-weight: 500;
    display: block;
    margin: 0 300px 40px 300px;
    color: white;
}
.between7 .boder-p{
    color: rgb(0, 51, 221);
    background-color: white;
    padding: 15px 25px;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 14px;
    border-radius:2px;
    text-transform: uppercase;
}
.between7 a:active{
    background-color: rgb(0, 51, 221);
    color: white;
    border-color:white ;
}
/* BETWEEN 8 */
.between8{
    position: relative;
    
}
.between8>img{
    width: 100%;
    transition: opacity 0.75s ease-in-out;
    animation-duration: 1s;
    animation-name: hienAnh;
}
.between8 .bw8-text{
    position: absolute;
    /* z-index: 30; */
    color: rgb(0, 51, 221);
    left: 120px;
    bottom: 150px;
    width: 75%;
}
.between8 .bw8-rotate{
    transform: rotate(270deg);
    position: absolute;
    color: rgb(0, 51, 221);
    top: 300px;
    font-size: 27px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    animation-duration: 2s;
    animation-name: hienChu2;
    animation-delay: 0.25s;
    animation-fill-mode:forwards;
    opacity: 0;
}
.between8 .bw8-text>h1{
     font-size:130px;
    font-weight: 500;
    line-height: 133px;
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 20px;
    animation-duration: 2s;
    animation-name: hienChu;
    animation-delay: 0.4s;
    animation-fill-mode:forwards;
    opacity: 0;
}
.form-search .tK2{
    font-size: 16px;
    background-color: rgba(184, 184, 184, 0.2);
    border: none;
    padding: 6px 12px;
    width: 540px;
    height: 60px;
    color: rgb(0, 51, 221);
}
.between8 .tK2:focus{
    outline: 4px solid rgb(0, 51, 221);
}
.between8 .bw8-border{
    margin: 0 20px;
    animation-duration: 2s;
    animation-name: hienChu;
    animation-delay: 1.5s;
    animation-fill-mode:forwards;
    opacity: 0;
}
.between8 .bw8-border:hover .boder-p{
    &::before,
    &::after {
      width: 100%;
      background-color: white;
    }
  }
.between8 .bw8-border:hover span{
    &::before,
    &::after {
      height: 100%;
      background-color: white;
    }
  }
/* BETWEEN-P */
.between-p{
    background-color: rgb(42, 42, 42);
    color: white;
    letter-spacing:0.7px;
    line-height:30px;
    position: relative;
}
.between-p p{
    padding: 12px 115px;
}
.between-p a{
    text-decoration: underline;
    color: white;
}
/* FOOTER */
/* BOTTOM CONTACT */
.bottom-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 51, 221);
    padding: 20px 12px;
    width: 100%;
}
.bottom-contact>h2{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    padding-right: 50px;
    text-transform: uppercase;
}
.bottom-contact>ul{
    display: flex;
    list-style: none;
    color: white;
}
.bottom-contact li{
    margin-right: 10px;
}
.bottom-contact a>img{
    width: 20px;
    height: 20px;
}
.bottom-contact a{
    width: 52px;
    height: 52px;
    padding: 15px;
    display: inline-block;
    
}
.bottom-contact a:hover{
    border: 1px solid white;
    border-radius:50% ;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    width: 100%;
    position: relative;
}

footer .footer-left{
    width: 35%;
    padding: 150px 30px 90px 120px;
    position: relative;
    border-right:1px solid rgb(216, 216, 216);
}
footer .footer-left img{
    max-width: 220px;
    margin-bottom: 60px;
}
footer .footer-left .footer-left-title{
    display: flex;
    flex-direction: column;
}
footer .footer-left .footer-left-title>p{
    font-size: 12px;
    font-weight: 500;
    color: rgb(216, 216, 216);
    text-transform: uppercase;
    margin-bottom: 16px;
    letter-spacing: 1.75px;
}
footer .footer-left .footer-left-title>ul{
    display: flex;
    
}
footer .footer-left-title li{
    margin-right:20px ;
    list-style: none;
}
footer .footer-left-title li>a{
    color:rgb(216, 216, 216);
    font-size: 12px;
    letter-spacing: 1.75px;
    font-weight: 500;
}

/* footer footer-between */
.footer-between{
    width: 30%;
    padding: 90px 50px;
    display: flex;
    justify-content: center;
    
  }
  .footer-between>ul{
    list-style: none;
  
  }
   .footer-between li{
    margin-bottom: 30px;
    /* position: relative; */
  }
   .footer-between a, .Accessible{
    color: white;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.75px;
    text-decoration: none;
    position: relative;
  }
  .select-f{
    margin-top: 8px;
    position: relative;
    line-height: 24px;
  }
  .select-f{
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 5px;
      left:180px;
      inset-inline-end: 10px;
      display: block;
      background-image: none;
      transform: none;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7.5px 13px 7.5px;
      border-color: transparent transparent #a8a8a8 transparent;
    }
    &:after {
      top: 21px;
      transform: rotate(180deg);
    }
    
  }
  .select-form{
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 36px 10px 12px;
    color: white;
    border-radius:5px ;
    border: 1px solid rgb(206, 212, 218);
    
    font-size: 16px;
    -webkit-appearance: none;
  }
  .select-form:focus{
    outline: 4px solid rgba(13, 110, 253, 0.4);
  }
   .option{
    background-color: rgb(42, 42, 42);
    color: white;
  }
  /* Gạch chân */
  .footer-between a::after{
    content: "";
    position: absolute;
    bottom: 0;
			left: 0;
			top: 31px;
			width: 100%;
			height: 2px;
			transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
			transform: scaleX(0);
			transform-origin: left;
      background-color: rgb(51, 136, 255);
  }
  .footer-between a:hover {
    &::after{
    transform: scaleX(1);
    } 
  }
/* footer footer-right */
footer .footer-right{
    width: 35%;
    padding: 90px 108px 90px 50px;
    background-color: rgb(42, 42, 42);
    color: rgb(216, 216, 216);
    letter-spacing: 0.4px;
  }
footer .footer-right .bottom-title{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.7px;
    line-height: 20px;
    
    padding-right: 20px;
  }
footer .footer-right>h2{
    font-size: 20px;
    margin-bottom: 20px;
  }
footer .bottom-intro{
    
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.7;
    text-align: center;
    line-height: 30px;
    margin-bottom: 16px;
  }
.footer-right .bottom-intro:last-of-type{
    text-align: start;
  }
footer .e-m{
    
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
footer .email-form{
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid white;
    font-size: 18px;
    padding: 2px 0 8px 0;
    color: white;
    margin-bottom: 16px;
  }
footer .email-form:focus{
    outline: 4px solid rgb(216, 216, 216,0.25);
    color: white;
    background-color: rgba(0, 0, 0, 0);
  }
  /* CHECK BOX */
footer .check{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size:16px;
  }
footer .check input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    
  }
  
footer .checkmark {
    position: absolute;
    top: 5%;
    left: 0;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    
    border: 2px solid rgb(216, 216, 216);
   background-color: rgba(0, 0, 0, 0);
  }
/* When the radio button is checked, add a blue background */
footer .check input:checked ~ .checkmark {
    background-color: rgba(0, 0, 0, 0);
  }

footer .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
footer .check input:checked ~ .checkmark:after {
    display: block;
}
  
footer .check .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height:12px;
    background-color: rgb(216, 216, 216);
}
footer .check>input{
    margin-right:10px ;
}
footer .check .text{
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
}
footer .check>div>a{
    color: rgb(13, 110, 253);
    text-decoration: underline rgb(13, 110, 253);
}

footer .bottom-text-button{
    margin-top: 16px;
}
footer .bottom-button{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(130, 130, 130);
    border-radius:2px ;
    letter-spacing: 2px;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 14px;
    color: white;
    position: relative;
}
footer .bottom-button::before, .bottom-button::after{
    content: "";
        width: 0;
        height: 1px;
        position: absolute;
}
footer .bottom-button::before{
    right: 0;
        bottom: 0;
        transition: all 0.1s linear;
        transition-delay: 0.2s;
}
footer .bottom-button::after{
    left: 0;
        top: 0;
        transition: all 0.1s linear;
        transition-delay: 0s;
}
span::before,
 span::after
/* .top span::before,
.top span::after, 
.between3 span::before,
.between3 span::after,
.between7 span::before,
.between7 span::after */
{
      content: "";
      width: 1px;
      height: 0;
      position: absolute;
      transition: all 0.2s linear;
    }

    span::before {
      left: 0;
      bottom: 0;
      transition-delay: 0.3s; 
    }

    span::after {
      right: 0;
      top: 0;
      transition-delay: 0.1s;
    }
footer .bottom-text-button:hover .bottom-button{
  &::before,
  &::after {
    width: 100%;
    background-color: white;
  }
}
footer .bottom-text-button:hover span{
  &::before,
  &::after {
    height: 100%;
    background-color: white;
  }
}
